/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --accent-color: #353430;
    --main-text: #ff8dcb;
    --second-text: #353430;
    --title-color: #ffc2e6;
    --title-text: #353430;
    --focus-visable-color: #353430;
    --button-active: #353430;
    --color-decorated-zone: #353430;
    --hover-border-color: rgba(50, 49, 45, 0.4);
    --background-image: url("../images/cover-image-light.png");
    --rec-decor-visibility: hidden;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --accent-color: #353430;
  --main-text: #ff8dcb;
  --second-text: #353430;
  --title-color: #ffc2e6;
  --title-text: #353430;
  --focus-visable-color: #353430;
  --button-active: #353430;
  --color-decorated-zone: #353430;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --background-image: url("../images/cover-image-light.png");
  --rec-decor-visibility: hidden;
}
